name: Build and Deploy
on:
  push:
    branches:
      - api

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@master
      - name: Setup Enviroment
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
      - name: Speed up the packages installation process
        run: composer global require hirak/prestissimo
      - name: Install Packages
        run: composer install --no-dev
      - name: Deploy to Server
        uses: ngocquyhoang/deploy@laravel
        with:
          user: root
          host: 51.91.255.126
          path: /var/www/vhosts/vpsdev.wi-mobi.com/dev-logistica.wi-mobi.com
          owner: dhaker
        env:
          DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
      - name: Deploy to production
        uses: appleboy/ssh-action@master
        with:
          username: root
          host: 51.91.255.126
          password: xaaYlVJJn9uITFxfmzepbjhf6UVl1bJimw35oQEetF
          script: 'cd /var/www/vhosts/vpsdev.wi-mobi.com/dev-logistica.wi-mobi.com && ./server_deploy.sh'
